section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(196, 30, 30, 0.7);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: hsl(60, 92%, 50%);
    opacity: 0.5;
}